org.ow2.aspirerfid.ale/core/src/main/resources/Helloworld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="HelloworldService" targetNamespace="http://sample/" xmlns="http://sample/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP11="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://sample/" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="saluer"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="saluerResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="sayHelloResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="sayHello"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="saluer">
    <wsdl:part name="saluer" element="saluer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saluerResponse">
    <wsdl:part name="saluerResponse" element="saluerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part name="sayHelloResponse" element="sayHelloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part name="sayHello" element="sayHello">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Helloworld">
    <wsdl:operation name="sayHello">
      <wsdl:input message="sayHello">
    </wsdl:input>
      <wsdl:output message="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saluer">
      <wsdl:input message="saluer">
    </wsdl:input>
      <wsdl:output message="saluerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloworldBinding" type="Helloworld">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <SOAP:operation/>
      <wsdl:input>
        <SOAP:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saluer">
      <SOAP:operation/>
      <wsdl:input>
        <SOAP:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <SOAP:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Helloworld">
    <wsdl:port name="HelloworldSOAP11Port" binding="HelloworldBinding">
      <SOAP:address location="http://localhost:8080/HelloworldComponent/Helloworld"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
